/* Global CSS */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #222;
  margin: 0;
  padding: 0;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}

section {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* Helpers */

.btn.btn-long {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

input.form-control,
.btn,
.alert {
  border-radius: 0;
}

/* Spacers */

.sec-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.full-height {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.sm-bottom-margin {
  margin-bottom: 15px;
}

/* Branding */

.bg-cont {
  background-color: rgba(255,255,255,0.85);
}

.btn-primary {
  background-color: #2883BA !important;  
}

a:hover,
a {
  color: #C80000;
}

a.nav-link:hover,
a:hover {
  text-decoration: underline;
}

/* Navbar */

.navbar-toggler {
  font-size: 36px;
  width: auto;
  padding: 0;
  margin-bottom: auto;
}

.navbar-toggler-icon {
  width: auto;
  height: auto;
}

.navbar-nav .nav-item {
  text-align: center;
}

.navbar-expand-md .navbar-nav a.nav-link {
  padding: 10px 20px;
}

.navbar-brand img {
  height: 50px;
}

/* Form */

.img-small {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.internal-form .img-small {
  height: 175px;
}

.alert {
  display: none;
}

.alert.active {
  display: block;
}

.loader {
  display: none;
}

.loader.active {
  display: inline-block;
}

.loader i {
  -webkit-animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.hero-card {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #2883BA;
}

.hero-card img {
  max-width: 100%;
}

.hero-card .hero-info {
  padding: 15px;
  background-color: #fff;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero-card .hero-name {
  font-weight: bold;
  font-size: 1.3em;
}

/* Details page */

.hero-profile {
  padding: 15px;
}

.hero-profile img {
  margin-bottom: 15px;
}

/* About */

.inner-page {
  padding: 15px;
  background-color: #fff;
}

.about-item {
  font-size: 40px;
}

/* Not found */

.not-found {
  max-width: 600px;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none;
  }
}

@media (min-width: 768px) { 
  .visible-xs {
    display: none;
  }
  
  h1 {
    margin-bottom: 1.2em;
  }
  
  .navbar-brand img {
    height: auto;
  }
   
  .hero-card {
    display: flex;
    flex-direction: row;    
  }
  
  .hero-card .iterator {    
    padding-top: 15px;
    padding-right: 15px;
    color: #fff;
  }
  
  .hero-card .hero-img {
    width: 200px;
  }
  
  .hero-card img {
    max-width: 100%;
  }
  
  .inner-page {
    padding: 30px;
    background-color: #fff;
  }

}

/* Animation */

@-moz-keyframes spin { 
 100% { 
   -moz-transform: rotate(360deg); 
 } 
}

@-webkit-keyframes spin { 
  100% { 
   -webkit-transform: rotate(360deg); 
  } 
}

@keyframes spin { 
  100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
  }
}
