RewriteEngine on
RewriteCond %{REQUEST_URI} !\.(?:css|js|map|png|gif|jpg|jpeg|ico|svg)$ [NC]
RewriteCond %{REQUEST_URI} !\.(?:eot|ttf|woff|woff2)$ [NC]
RewriteCond %{REQUEST_URI} !\.(?:json|xml|csv|xlsx|docx)$ [NC]
RewriteRule ^ index.php [L,QSA]